.howWorks {
  margin-top: 220px;
  padding-bottom: 15rem;
  @media screen and (max-width: 650px) {
    margin-top: 50px;
  }
}

.cards {
  margin-top: 50px;
  gap: 6.8rem;
  @media screen and (max-width: 1100px) {
    gap: 4rem;
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.card__SubTitle {
  opacity: 0.3;
  font-size: 2rem;
  margin-top: 10px;
}

.card__description {
  margin-top: 30px;
  opacity: 0.7;
  font-weight: 500;
  font-size: 2.5rem;
  span {
    display: block;
  }
}
